<div ng-class="{'app-mobile' : isMobile, 'app-navbar-fixed' : layout.isNavbarFixed,
        'app-sidebar-fixed' : layout.isSidebarFixed, 'app-sidebar-closed':layout.isSidebarClosed,
        'app-footer-fixed':layout.isFooterFixed}">

    <toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>

    <mt-side-navbar></mt-side-navbar>

    <div class="app-content" ng-class="{loading: loading}">

        <mt-top-navbar></mt-top-navbar>

        <mt-main-content></mt-main-content>
    </div>
</div>
