<header class="navbar navbar-default navbar-static-top hidden-print">
    <div id="loading-bar-container"></div>

    <!--TODO: should be a directive-->
    <div class="navbar-header">
        <a class="navbar-brand" href="/MicroTag/index.html#/terminal">
            <img ng-src="{{::layout.logo}}" alt="{{::appName}}"/>
            μicroTag
        </a>
        <a href="#" class="sidebar-toggler pull-right visible-md visible-lg"
           ng-click="layout.isSidebarClosed = !layout.isSidebarClosed">
            <i class="ti-align-justify"></i>
        </a>
        <a class="pull-right menu-toggler visible-xs-block" id="menu-toggler"
           ng-click="navbar.collapsed = !navbar.collapsed">
            <span class="sr-only">
                Toggle navigation
            </span>
            <i class="ti-view-grid"></i>
        </a>
    </div>

    <div class="navbar-collapse collapse" uib-collapse="navbarCollapsed"
         off-click="navbar.collapsed = true" off-click-if='!navbar.collapsed'
         off-click-filter="#menu-toggler">
        <ul class="nav navbar-right" ct-fullheight="window" data-ct-fullheight-exclusion="header"
            data-ct-fullheight-if="isSmallDevice">
            <!--TODO: should be a directive-->
            <li class="dropdown" uib-dropdown on-toggle="toggled(open)">
                <a href class="dropdown-toggle" uib-dropdown-toggle> <i class="ti-world"></i>
                    {{language.selected.name}}
                </a>
                <ul role="menu" class="dropdown-menu dropdown-light fadeInUpShort">
                    <li ng-repeat="lang in language.available">
                        <a ng-click="language.set(locale, $event)" href="#" class="menu-toggler">
                            {{lang.name}}
                        </a>
                    </li>
                </ul>
            </li>

            <!--TODO: should be a directive-->
            <li class="dropdown current-user" uib-dropdown on-toggle="toggled(open)">
                <a href class="dropdown-toggle" uib-dropdown-toggle>
                    <img src="assets/images/avatar-1.jpg" alt="{{user.type}}">
                    <span class="username">
                        {{user.type}}
                        <i class="ti-angle-down"></i></span>
                </a>
                <ul class="dropdown-menu dropdown-dark">
                    <li>
                        <a href="#" ng-click="logout()">
                            Log Out
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
        <div class="close-handle visible-xs-block menu-toggler" ng-click="navbar.collapsed = true">
            <div class="arrow-left"></div>
            <div class="arrow-right"></div>
        </div>
    </div>
</header>
