<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="TRACE">
    <Properties>
        <Property name="log-path">logs</Property>
    </Properties>
    <Appenders>
        <Console name="console-log" target="SYSTEM_OUT">
            <PatternLayout pattern="%-5level %d{dd-MM-yyyy HH:mm:ss} %c{1} - %msg%n"/>
        </Console>
        <RollingFile name="app-log" fileName="${log-path}/sportale.log"
                     filePattern="${log-path}/sportale-%d{yyyy-MM-dd}.log">
            <PatternLayout>
                <pattern>%-5level %d{dd-MM-yyyy HH:mm:ss} %c{1} - %msg%n</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
        </RollingFile>
        <RollingFile name="server-log" fileName="${log-path}/sportale-server.log"
                     filePattern="${log-path}/sportale-server-%d{yyyy-MM-dd}.log">
            <PatternLayout>
                <pattern>%-5level %d{dd-MM-yyyy HH:mm:ss} %c{1} - %msg%n</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Logger name="micro.tag" level="DEBUG" additivity="false">
            <appender-ref ref="trace-log" level="TRACE"/>
            <appender-ref ref="error-log" level="ERROR"/>
            <appender-ref ref="console-log" level="DEBUG"/>
        </Logger>
        <Logger name="org.hibernate" level="WARN"></Logger>
        <Logger name="org.apache" level="ERROR"></Logger>
        <Logger name="org.jboss" level="ERROR"></Logger>

        <Root level="TRACE" additivity="false">
            <AppenderRef ref="app-log"/>
            <AppenderRef ref="console-log"/>
        </Root>
    </Loggers>
</Configuration>
