<mt-form-header save-enabled="deviceConfigurationForm.$valid && hasConfigurationChanged()"
                reset-enabled="hasConfigurationChanged()" header-title="settings"
                save-callback="handleSave()" reset-callback="handleReset()"
                loading-indicator="loadingIndicator">
</mt-form-header>

<ng-form name="deviceConfigurationForm" mt-full-height debounce-wait="300">
    <mt-form>
        <div class="col-md-8">
            <mt-form-section section-title="General Settings">
                <mt-generic-field ng-repeat="field in ::fields" field="field"
                                  field-model-container="deviceSettings">
                </mt-generic-field>
            </mt-form-section>
        </div>
        <div class="col-md-4">
            <mt-form-section section-title="Customize Device">
                <mt-form-field field-name="uploadDeviceConfiguration">
                    <mt-file-browser file-handler="handleUpload(file)" file-filter=".zip"
                                     mode="button" browse-label="{{'UPLOAD DEVICE SETTINGS' | translate}}"
                                     confirmation-title="Device Settings"
                                     confirmation-description="All of your device settings will be overwritten!">
                    </mt-file-browser>
                </mt-form-field>
                <mt-form-field field-name="downloadDeviceConfiguration">
                    <button class="btn btn-primary btn-fixed-small" ng-click="handleDownload()">
                        {{'DOWNLOAD DEVICE SETTINGS' | translate}}
                    </button>
                </mt-form-field>
                <mt-form-field field-title="Current taggant file ID" field-name="tagFileId"
                               field-model="deviceSettings.tagFileId">
                </mt-form-field>
            </mt-form-section>
            <mt-form-section section-title="Current device info">
                <mt-form-field field-title="TAG ID" field-name="tagId"
                               field-model="deviceSettings.tagId">
                </mt-form-field>
                <mt-form-field field-title="S/W ID" field-name="swId"
                               field-model="deviceSettings.swId">
                </mt-form-field>
                <mt-form-field field-title="H/W ID" field-name="hwId"
                               field-model="deviceSettings.hwId">
                </mt-form-field>
                <mt-form-field field-title="Serial" field-name="serial"
                               field-model="deviceSettings.serial">
                </mt-form-field>
            </mt-form-section>
        </div>
    </mt-form>
</ng-form>
