<div class="dialog-container">
    <div layout="row" class="dialog-header" layout-wrap layout-padding>
        <div flex="10" ng-if="::warningDialog">
            <i class="ti-alert"></i>
        </div>
        <div flex="{{::warningDialog ? 90 : 100}}">
            <h4>{{title.toUpperCase() | translate}}</h4>
        </div>
    </div>

    <div class="dialog-body">
        <div ng-transclude></div>
    </div>

    <div class="dialog-footer" ng-hide="::footerVisible===false">
        <div class="pull-right dialog-actions">
    	<span title="{{!activeForm.$invalid ? '' : 'Invalid fields marked in red'}}">
	        <button class="btn {{::saveClass}}" ng-if="::saveVisible"
                    ng-click="handleSave()" ng-disabled="activeForm.$invalid">
	            <div ng-if="::saveLabel">
	                {{saveLabel.toUpperCase() | translate}}
	            </div>
	            <div ng-if="::!saveLabel">
	                 {{'SAVE' | translate}}
	            </div>
	        </button>
	    </span>
            <button title="" class="btn {{::cancelClass}}" ng-if="::cancelVisible"
                    ng-click="handleCancel()">
                <div ng-if="::cancelLabel">
                    {{cancelLabel.toUpperCase() | translate}}
                </div>
                <div ng-if="::!cancelLabel">
                    {{'CANCEL' | translate}}
                </div>
            </button>
        </div>
    </div>
</div>
