<div class="form-header">
    <div class="col-md-12">
        <div class="pull-right">
            <button type="submit" class="btn btn-primary" ng-disabled="!saveEnabled || loadingIndicator.isLoading"
                    ng-click="handleSave()">
                Save
            </button>
            <button type="reset" class="btn btn-primary btn-o" ng-disabled="!resetEnabled || loadingIndicator.isLoading"
                    ng-click="handleReset()">
                Reset
            </button>
        </div>
    </div>
</div>
