<mt-header header-title="measurement">
    <button type="submit" class="btn btn-primary"
            ng-click="runMeasurement()">
        {{'RUN' | translate}}
    </button>
</mt-header>

<h1 ng-if="!measurementHandler.active">
    {{"RUN A MEASUREMENT TO GET RESULTS" | translate}}
</h1>

<ng-form name="deviceConfigurationForm" ng-if="measurementHandler.active"
         mt-full-height debounce-wait="300">
    <mt-form>
        <div class="col-md-4">
            <mt-form-section section-title="Measurement Result">
                <div class="measurement-result-container">
                    <img class="measurement-base-image" ng-src="{{resultHandler.baseImage}}"/>
                    <img class="measurement-result-image" ng-src="{{resultHandler.resultImage}}"
                         ng-show="resultHandler.resultImageVisible"/>
                </div>
            </mt-form-section>
        </div>
    </mt-form>
</ng-form>
