<md-tabs ng-if="tabs.length > 1" md-selected="selectedIndex" md-border-bottom md-autoselect md-dynamic-height="true"
         md-swipe-content="true" md-no-ink="false" md-no-ink-bar="false" md-border-bottom="false">
    <md-tab ng-repeat="tab in tabs" md-active="tab.active"
            md-on-select="handleTabSelect(tab)" md-on-deselect="handleTabDeselect(tab)">
        <md-tab-label>
            <div layout="row" layout-wrap layout-padding class="terminal-tab">
                <div flex="50">
                    <h4 ng-if="tab.type === 'terminal'">{{tab.title.toUpperCase() | translate}}</h4>
                    <h4 ng-if="tab.type !== 'terminal'">{{tab.title}}</h4>
                </div>
                <div flex="10" ng-if="tab.closable">
                    <a class="tab-close" ng-click="removeTab(tab)">
                        <i class="ti-close"></i>
                    </a>
                </div>
            </div>
        </md-tab-label>
        <md-tab-body>
            <div ng-show="tab.type === 'terminal'">
                <mt-terminal-emulator command-callback="handleCommand(terminalLine)"
                                      terminal-padding="50" terminal-focus="focusTerminal">
                </mt-terminal-emulator>
            </div>
            <mt-line-chart ng-if="tab.type === 'chart'" chart-data="tab.data"
                           chart-padding="50">
            </mt-line-chart>
        </md-tab-body>
    </md-tab>
</md-tabs>

<mt-terminal-emulator ng-if="tabs.length === 1" command-callback="handleCommand(terminalLine)"
                      terminal-focus="focusTerminal">
</mt-terminal-emulator>
