<ng-form name="sessionConfigurationForm" mt-full-height debounce-wait="300">
    <mt-form-dialog title="Session Configuration" save-label="start" save-callback="handleStart()"
                    active-form="sessionConfigurationForm">
        <mt-form>
            <div class="col-md-12">
                <mt-form-input-field field-title="Inspector Name" field-name="inspectorName"
                                     field-type='text' field-model="sessionConfiguration.inspectorName">
                </mt-form-input-field>
                <mt-form-input-field field-title="Reader ID" field-name="readerId"
                                     field-type='text' field-model="sessionConfiguration.readerId">
                </mt-form-input-field>
                <mt-form-input-field field-title="Layout Number" field-name="layoutNumber"
                                     field-type='number' field-model="sessionConfiguration.layoutNumber">
                </mt-form-input-field>
                <mt-form-input-field field-title="Test Sample" field-name="testSample"
                                     field-type='number' field-model="sessionConfiguration.testSample">
                </mt-form-input-field>
                <mt-form-input-field field-title="Comments" field-name="comments" is-required="false"
                                     field-type='textarea' field-model="sessionConfiguration.comments">
                </mt-form-input-field>
            </div>
        </mt-form>
    </mt-form-dialog>
</ng-form>
